<section id="info">

  <header>
    <h1><a href="#">Appetite</a></h1>
    <h2>London's best places</h2>
  </header>

  <form action="/" method="get" accept-charset="utf-8">
    <input type="text" name="location">
  </form>

  <ul>
    <% @locii.each do |loc| %>
      <li data-lat=<%= loc.lat %> data-lng=<%= loc.long %>>
          <h3><%= loc.place %></h3>
          <p><%= loc.address %></p>

          <% if params[:location].present? %>
            <p><%= loc.distance_to(params[:location]).round(1) %>km away</p>
          <% end -%>

          <%= link_to 'Delete', locus_path(loc), method: :delete, confirm: 'Are you sure?' %>

      </li>
    <% end %>
  </ul>


</section>

<section id="map"></section>

<%= link_to 'Add a location', new_locus_path, class: 'button' %>
  
